@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap");

body {
  background-color: hsl(47, 88%, 63%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree";
  font-size: 16px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  width: 250px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px 2px black;
}

.illus_img {
  width: 100%;
  border-radius: 15px;
}
.learning_div {
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%);
  text-align: center;
  padding-top: 8px;
  font-weight: bold;
  border-style: none;
  border-radius: 3px;
  margin-top: 15px;
  width: 90px;
  height: 25px;
}

h2 {
  white-space: nowrap;
  color: hsl(0, 0%, 7%);
  font-weight: bold;
}
.par2 {
  color: hsl(0, 0%, 42%);
  line-height: 1.3;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo_img {
  height: 40px;
  width: auto;
  /* order: 1; */
}
.logo_span {
  font-weight: bold;
}
